    .btn-gray-with-radius {
        padding: 4px 20px;
        background-color: #535351;
        border-radius: 20px;
        color: white;
        font-size: 0.9em;
        cursor: pointer;
    }

    .btn-gray-with-radius:hover {
        border-color: #FFF;
    }