.header {
    height: 17vh;
    background: linear-gradient(to right, #299cdf, #40B9FF);
    box-shadow: 1px 1px 8px black;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 1.3em;
}


.bt-cadastro {
    margin-right: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}