.login{
    display: flex;
    justify-content: space-between;
}

.description{
    width: 55%;
}

.caixa-login{
    color: black;
    width: 40%;
    height: 100%;
    padding: 40px;
    border-radius: 10px;
    background: linear-gradient(to right,  #7bcfff,#cbecff);
    /* background: linear-gradient(to right,  #40B9FF,#299cdf); */
}

#password-recovery{
    color: gray;
}

.area-botao{
    display: flex;
    justify-content: flex-end;
}
